.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*header section styles*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  /* parameters for the header section */
  background-color:#f2f2f2;
  position:relative;
  margin-bottom:100px;
  overflow: hidden;
}

.header__title{
  align-self: center;
  width: 730px;
  margin:0  0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle{
  position: absolute;
  z-index: 1;
  left:64px;
  bottom:30px;
  width: 388px;
  line-height: 25px;
  font-size:18px;
  font-weight: normal;
  margin:0;
}

.header__link{
  color:#2f80ed;
  text-decoration: none;
}

.header__main-illustration{
  position: absolute;
  bottom:0;
  right:0;
  z-index: 1;
  width: 756px;
  height: 608px;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position:absolute;
  top: 64px;
  right:0;
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  transform: rotate(45deg);
}

.logo{
  z-index:1;
}

.logo_place_header{
  position:absolute;
  top:30px;
  left:64px;
  width: 154px;
  height: 31px;
}

/*description block styles*/

.description{
  margin:0 0 100px 0;
  display:flex;
  justify-content:center;
}

.two-columns{
  display:flex;
  justify-content:space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
  margin:0;
  padding:0;
}

.two-columns__main-text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
  padding:0;
  width: 80%;
}

.two-columns__paragraph{
  margin:0 0 30px 0;
}

.two-columns__paragraph:last-of-type{
  margin:0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*digits block styles*/

.digits{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0 0 40px 0;
}

.section-title{
  width: 60%;
  margin:0 0 20px 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align:center;
}

.section-subtitle{
  width: 60%;
  margin: 0 0 60px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table{
  display:flex;
  flex-wrap:wrap;
  width: 1100px;
  justify-content: space-between;
  list-style-type: none;
  margin:0;
  padding:0;
}

.table__cell{
  width: 250px;
  margin: 0 0 60px 0;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin:0 0 20px 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin:0 0 20px 0;
}

/*feynman block styles*/
/*add 100px padding to top*/
.feynman{
  min-height: 790px;
  position: relative;
  background-image: url("../images/feynman.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
}
/*reset top margin*/
.feynman__title{
  width: 775px;
  margin: 0 0 70px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

/*reset default margin*/
.feynman__subtitle{
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin:0;
}

.feynman__link{
  position:absolute;
  top:50%;
  right:48px;
  color:#2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/*kaufman block styles*/

.kaufman{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-title_theme_dark{
  color:white;
  z-index:1;
  padding:90px 0 0 0;
}

.section-subtitle_theme_dark{
  color:white;
  z-index:1;
}

.table_theme_dark{
  display:flex;
  flex-wrap:wrap;
  width: 1100px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding:0;
  z-index:1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index:1;
}

.table__heading_theme_dark{
  color:white;
  z-index:1;
}

.table__text_theme_dark{
  color:white;
  z-index:1;
}

.kaufman__triangle{
  position:absolute;
  right:-124px;
  height: 660px;
  width: 636px;
  z-index:0;
  background-image:url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
}

/*footer block styles*/

.footer{
  background-color: #1f1f1f;
  color:white;
  min-height: 350px;
  display:flex;
  justify-content: center;
}
.footer__columns{
  display: flex;
  justify-content:space-between;
  width: 90%;
  margin: 60px 0 40px 0;
}

.footer__column{
  display:flex;
  flex-direction: column;
  margin:0;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  line-height: 25px;
  margin: 18px 0 18px 0;
  font-weight: normal;
}

.footer__column-heading{
  margin:0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column_content_about{
  margin:0;
}

.footer__column_content_social{
  margin:0;
}

.footer__list{
  display:flex;
  flex-direction: column;
  margin:0;
  padding:0;
  list-style-type: none;
}

.footer__column-link{
  color:white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  padding:0;
}

.footer__social-icons{
  width: 16px;
  height: 16px;
  margin-right:10px;
}
